<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roles List</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/roles_list.css' %}">
</head>
<body>
    <div class="container table-container">
        <div class="table-responsive">
            <h1 class="text-center mb-4">Roles List</h1>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Created Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for role in roles %}
                    <tr class="{% cycle 'table-striped-row-grey' 'table-striped-row-white' %}">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ role.name }}</td>
                        <td>{{ role.description }}</td>
                        <td>{{ role.created_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>    
</body>
</html>