{% extends 'base.html' %}
{% load static %}

{% block title %}Costs{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/charges/costs.css' %}">
{% endblock %}

{% block content %}
    <div class="container table-container">
        <div class="table-responsive">
            <h1 class="text-center mb-4">Costs</h1>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Client</th>
                        <th scope="col">Task</th>
                        <th scope="col">Description</th>
                        <th scope="col">Project</th>
                        <th scope="col">Status</th>
                        <th scope="col">Created Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cost in costs %}
                    <tr class="{% cycle 'table-striped-row-grey' 'table-striped-row-white' %}">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ cost.name }}</td>
                        <td>€{{ cost.amount }}</td>
                        <td>{{ cost.client }}</td>
                        <td>{{ cost.task }}</td>
                        <td>{{ cost.description }}</td>
                        <td>{{ cost.project }}</td>
                        <td class="status-{{ cost.status }}">{{ cost.get_status_display }}</td>
                        <td>{{ cost.created_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}