<div class="container table-container">
    <div class="table-responsive">
        <h1 class="text-center mb-4">Cost Approval Request List</h1>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Status</th>
                    <th scope="col">Task</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for request in cost_approval_requests %}
                <tr class="{% cycle 'table-striped-row-grey' 'table-striped-row-white' %}">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'cost-approval-request-detail' request.id %}">{{ request.name }}</a></td>
                    <td>{{ request.cost }}</td>
                    <td id="status-{{ request.status }}">{{ request.get_status_display }}</td>
                    <td>{{ request.task }}</td>
                    <td>{{ request.created_date }}</td>
                    <td><a href="{% url 'edit_cost_approval_request' request.id %}" class="btn btn-primary btn-sm">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>