{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <style>
      .main-content {
        margin: 50px 100px;
      }

      .dropdown-menu-right-custom {
        right: auto;
        left: -10px; 
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
      <a class="navbar-brand" href="{% url 'home' %}"><strong>NebulaPro</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              User Management
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'users-list' %}">Users</a>
              <a class="dropdown-item" href="{% url 'roles-list' %}">Roles</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Task Management
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'client-list' %}">Clients</a>
              <a class="dropdown-item" href="{% url 'industries-list' %}">Industries</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'projects-list' %}">Projects</a>
              <a class="dropdown-item" href="{% url 'tasks-list' %}">Tasks</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Charges
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'cost-approval-requests-list'%}">Cost Approval Requests</a>
              <a class="dropdown-item" href="{% url 'costs-list' %}">Costs</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'bills-list'%}">Bills</a>
              <a class="dropdown-item" href="{% url 'payment-requests-list'%}">Payment Requests</a>
              <a class="dropdown-item" href="{% url 'payments-list'%}">Payments</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Add to User Management
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'add-user' %}">Add User</a>
              <a class="dropdown-item" href="{% url 'add-role' %}">Add Role</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Add To Task Management
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'add-client' %}">Add Client</a>
              <a class="dropdown-item" href="{% url 'add-industry' %}">Add Industry</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'add-project' %}">Add Project</a>
              <a class="dropdown-item" href="{% url 'add-task' %}">Add Task</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Add To Charges
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'add_cost_approval_request' %}"> Add Cost Approval Request</a>
              <a class="dropdown-item" href="{% url 'add_cost' %}">Add Cost</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'add_bill' %}">Add Bill</a>
              <a class="dropdown-item" href="{% url 'add_payment_request' %}">Add Payment Request</a>
              <a class="dropdown-item" href="{% url 'add_payment' %}">Add Payment</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if not user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Login/Register
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-right-custom">
              <a class="dropdown-item" href="{% url 'login' %}">Login</a>
              <a class="dropdown-item" href="{% url 'register' %}">Register</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <form action="{% url 'logout' %}" method="post" class="form-inline">
              {% csrf_token %}
              <button type="submit" id="logout" class="nav-link btn btn-link">Logout</button>
            </form>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>    
    <div class="main-content">
      {% block content %}
      {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>
