<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <a class="navbar-brand" href="{% url 'home' %}">Nebula</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          User Management
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Users</a>
          <a class="dropdown-item" href="{% url 'roles_list' %}">Roles</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Task Management
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'client-list' %}">Clients</a>
          <a class="dropdown-item" href="{% url 'industries-list' %}">Industries</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Projects</a>
          <a class="dropdown-item" href="#">Tasks</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Charges
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'cost-approval-requests'%}">Cost Approval Requests</a>
          <a class="dropdown-item" href="{% url 'costs' %}">Costs</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
