body {
    margin: 0; 
    padding: 0; 
    background-image: url('../img/nebula.jpg'); 
    background-size: cover;
    background-position: right 15% bottom 75%;
    background-repeat: no-repeat; 
}