{% extends 'base.html' %}
{% load static %}

{% block title %}Payment Requests{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/charges/costs.css' %}">
{% endblock %}

{% block content %}
    <div class="container table-container">
        <div class="table-responsive">
            <h1 class="text-center mb-4">Payment Requests</h1>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Bill</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in payment_requests %}
                    <tr class="{% cycle 'table-striped-row-grey' 'table-striped-row-white' %}">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ request.name }}</td>
                        <td>{{ request.description }}</td>
                        <td>{{ request.bill }}</td>
                        <td>{{ request.cost }}</td>
                        <td>€{{ request.amount }}</td>
                        <td class="status-{{ request.status }}">{{ request.get_status_display }}</td>
                        <td>{{ request.created_date }}</td>
                        <td><a href="{% url 'edit_payment_request' request.id %}" class="btn btn-primary btn-sm">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
