{% extends 'base.html' %}
{% load static %}

{% block title %}All Tasks{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/task_management/all_tasks_list.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="table-responsive">
            <h1 class="text-center mb-4">All Tasks</h1>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="col-3">Title</th>
                        <th scope="col" class="col-3">Project</th>
                        <th scope="col" class="col-1">Status</th>
                        <th scope="col" class="col-2">Reporter</th>
                        <th scope="col" class="col-2">Assignee</th>
                        <th scope="col" class="col-2">Created Date</th>
                        <th scope="col" class="col-2">Deadline Date</th>
                        <th scope="col" class="col-2">Last Modified Date</th>
                        <th scope="col" class="col-2">Last Modified By</th>
                        <th scope="col" class="col-1">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in alltasks %}
                    <tr class="{% cycle 'table-striped-row-grey' 'table-striped-row-white' %}">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ task.title }}</td>
                        <td>{{ task.project }}</td>
                        <td class="
                            {% if task.status == 'back_log' %}status-back-log
                            {% elif task.status == 'in_progress' %}status-in-progress
                            {% elif task.status == 'in_review' %}status-in-review
                            {% elif task.status == 'ready_for_schedule' %}status-ready-for-schedule
                            {% elif task.status == 'scheduled' %}status-scheduled
                            {% elif task.status == 'done' %}status-done
                            {% endif %}">
                            {{ task.get_status_display|title }}
                        </td>
                        <td>{{ task.reporter }}</td>
                        <td>{{ task.assignee }}</td>
                        <td>{{ task.created_date }}</td>
                        <td>{{ task.deadline_date }}</td>
                        <td>{{ task.last_modified_date }}</td>
                        <td>{{ task.last_modified_by }}</td>
                        <td><a href="{% url 'edit_task' task.id %}" class="btn btn-primary btn-sm">Edit</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="11" class="text-center">No tasks found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
