{% extends 'base.html' %}
{% load static %}

{% block title %}Task Detail{% endblock %}

{% block content %}
    <div class="container">
        <h1>Task Detail: {{ task.title }}</h1>
        <br>
        <p><strong>Status:</strong> {{ task.get_status_display }}</p>
        <p><strong>Project:</strong> {{ task.project }}</p>
        <p><strong>Reporter:</strong> {{ task.reporter }}</p>
        <p><strong>Assignee:</strong> {{ task.assignee }}</p>
        <p><strong>Created Date:</strong> {{ task.created_date }}</p>
        <p><strong>Deadline Date:</strong> {{ task.deadline_date }}</p>
        <p><strong>Last Modified:</strong> {{ task.last_modified_date }}</p>
        <p><strong>Last Modified By:</strong> {{ task.last_modified_by }}</p>
    </div>
{% endblock %}