<div class="container-fluid pt-3">
    <h3 class="font-weight-light text-black">Tasks for {{ project.title }}</h3>
    <div class="row py-3">
        {% for category, tasks in status_data.items %}
            <div class="col-sm-6 col-md-4 col-xl-3 mb-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <h6 class="card-title text-uppercase text-truncate py-2">{{ category }}</h6>
                        <div class="items border border-light">
                            {% for task in tasks %}
                                <div class="card draggable shadow-sm" id="task-{{ task.pk }}" draggable="true" ondragstart="drag(event)">
                                    <div class="card-body p-2">
                                        <div class="card-title">
                                            <a href="{% url 'task_detail' task.pk %}" class="lead font-weight-light">{{ task.title }}</a>
                                        </div>
                                        <p>For {{ task.project.title }} Client</p>
                                        <a href="{% url 'task_detail' task.pk %}" class="btn btn-primary btn-sm">View</a>
                                    </div>
                                </div>
                                <div class="dropzone rounded" data-status="{{ category|lower }}" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                            {% endfor %}
                            {% if not tasks %}
                                <div class="dropzone rounded" data-status="{{ category|lower }}" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
