{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/user_management/auth_pages.css' %}">
{% endblock %}

{% block content %}
    <h1>Change Password for {{ username }}</h1>
    <br>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Change Password</button>
        </form>
    </div>
{% endblock %}